

.popup {
    
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .popup-content
  {
      height: 550px;
      width:600px ;
      background: blueviolet;
      padding:20px;
      border-radius: 5px;
      position: absolute; top:80px; 
  }